.home-card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
}

.card-header-content {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.home-title {
    color: #2f3033;
    font-size: 24px;
    margin-bottom: 5px;
}

.home-subtitle {
    color: #757575;
    font-size: 16px;
    margin-bottom: 15px;
}

.home-content {
    text-align: center;
}
