<mat-card class="home-card">
    <div class="card-header-content">
        <img src="/assets/img/logo-vovo-luisa.png" alt="Logo Delicias da Vovó Luisa" class="logo">
        <mat-card-title class="home-title">Bem vindo ao sistema de gestão Delicias da Vovó Luisa!</mat-card-title>
        <mat-card-subtitle class="home-subtitle">
            Um sistema que vem para auxiliar na organização e eficiência do seu estabelecimento.
        </mat-card-subtitle>
    </div>
    <mat-card-content class="home-content">
        <p>No menu à esquerda, você pode navegar pelas diversas opções disponíveis, facilitando a gestão do dia a dia e melhorando a experiência de seus clientes e colaboradores.</p>
    </mat-card-content>
</mat-card>
